body {
  background-color: #ddd;
}

#wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 100px auto;
  padding: 25px;
  background-color: #fff;
}

h1 {
  margin-top: 5px;
}
h1 + p {
  margin: 0;
  margin-bottom: 10px;
}

#survey-form > label, 
#survey-form > fieldset,
button {
  margin-top: 40px;
}

form > label, fieldset > legend, button {
  font-size: 1.15em;
  color: black;
}

button {
  height: 40px;
  margin-bottom: 5px;
  font-weight: bold;
  background-color: rgb(90, 195, 236);
}
/* FLEX CONTAINER */
#survey-form {
  display: flex;
  flex-direction: column;
}

/* Nested Flex Container */
fieldset {
  /* display: flex; */
  /* flex-direction: row; */
}
/* flex items */
fieldset > label {
  width: 300px;
  /* flex-basis: 40%; */
  border: 1px solid red;
}


ul {
  list-style: none;
}

ul li {
  margin-bottom: 10px;
}
